<div id="<%= dom_id storage %>">
  <p>
    <strong>Mame:</strong>
    <%= storage.mame %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= storage.location %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= storage.users_id %>
  </p>

  <p>
    <strong>Commodities:</strong>
    <%= storage.commodities_id %>
  </p>

</div>
