<header>
    <nav>
      <ul>
        <li><%= link_to I18n.t('header.home') %></li>
        <li><%= link_to I18n.t('header.about')%></li>
        <li><%= link_to I18n.t('header.contact')%></li>
        <li><%= link_to I18n.t("header.english"), url_for(locale: :en) %></li>
        <li><%= link_to I18n.t("header.ukrainian"), url_for(locale: :uk) %></li>
      </ul>
    </nav>
</header>