<header>
    <nav>
      <ul>
        <li><%= link_to 'Home' %></li>
        <li><%= link_to 'About'%></li>
        <li><%= link_to 'Contact'%></li>
        <li><%= link_to "English", url_for(locale: :en) %></li>
        <li><%= link_to "Українська", url_for(locale: :uk) %></li>
        <%= I18n.t('activerecord.attributes.user.email')%>
      </ul>
    </nav>
</header>